@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #f3f4f6;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 400px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #2563eb;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}

.add-btn {
  width: 100%;
  padding: 10px;
  background-color: #4f3bc2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.add-btn:hover {
  background-color: #6c95d0;
}

ul {
  padding: 0;
  margin-top: 20px;
  list-style: none;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1960a7;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
}

.todo-text {
  color: #000000;
  font-weight: 500;
}

.dlt-btn {
  width: auto;
  padding: 5px 12px;
  background-color: #9c0707;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.dlt-btn:hover {
  background-color: #d17272;
}
